.testbox{
    width: 100%;
    height: 29px;
    border-color: blue;
}
.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.delete{
    float: right;
}
.user-says{
    margin-top: 100px;
}